## Editors
*~
.*.sw[op]
.project
.idea
.pydevproject
.vscode

## VCS
/.bzr

## Python
/.eggs
*.pyc
*.egg-info
/build
terminatorc
remotinatorc
promptlinelib/meliae
/dist
/MANIFEST

## language / intltool related files
.intltool*
data/promptline.appdata.xml
data/*.desktop
data/*.metainfo.xml

# Debian package build
.pybuild/
debian/.debhelper/
debian/promptline/
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/debhelper-build-stamp
